node_modules
dist
dist-ssr
*.local
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
__pycache__
.git
output
.env
.env.*
package-lock.json
vite-dev.err.log
vite-dev.log
mono